@media (pointer: fine) {
	.infotext {
		font-size: 3vw;
	}
}
@media (pointer: coarse) {
	.infotext {
		font-size: 3.5vw;
	}
}

body {
	/*background-color: #634691;*/
	background-color: #4f3874;
}
@font-face {
	font-family: Pricedown;
	src: url('fonts/Pricedown Bl.otf');
}
.blocks {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	gap: 2vh;
	text-align: center;
}
.header {
	font-family: Pricedown;
	font-size: 8vw;
	color: white;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
	letter-spacing: 1px;
	margin: 0px;
}
.crew-link {
	text-decoration: none;
	margin-inline: 10%;
}
.hidden {
	display: none;
}
@font-face {
	font-family: Chalet;
	src: url('fonts/chalet_londonnineteensixty.otf');
}
.infotext {
	font-family: Chalet;
	color: white;
	margin-block: 15px;
}
.text-shadow {
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}
.GTAtitle {
	font-family: Pricedown;
	letter-spacing: 1px;
}
@font-face {
	font-family: Bank-Gothic;
	src: url('fonts/Bank_Gothic_Medium(RUS BY LYAJKA)_0.ttf');
}
.ONLINE {
	font-family: Bank-Gothic;
	color: #ff0000;
	letter-spacing: -0.1em;
	background-color: black;
	border-radius: 8px;
}
@font-face {
	font-family: Minecraft-Title;
	src: url('fonts/Minecraft Title.ttf');
}
.mctitle {
	font-family: Minecraft-Title;
	font-size: 2vw;
	color: #a9a09d;
	/*color: #aaa19e;
	text-fill-color: transparent;
	background-clip: text;
	background-image: linear-gradient(to bottom, #aaa19e, #d7ccc9, #d7ccc7);
	хочу градиент как у логотипа кубача*/
}
@font-face {
	font-family: Minecraft-Under-Title;
	src: url('fonts/MinecraftFive-Bold.ttf');
}
.mc-under-title {
	font-family: Minecraft-Under-Title;
	color: #a9a09d;
	/*background-image: linear-gradient(to bottom, );*/
}
.tooltip-indicator {
	font-size: 2vw;
}
@font-face {
	font-family: Minecraft;
	src: url('fonts/minecraft.ttf');
}
.tooltip {
	position: relative;
	cursor: help;
}
.tooltip-text {
	visibility: hidden;
	position: absolute;
	font-family: Minecraft;
	color: white;
	font-size: 1.5vw;
	background-color: black;
	border-radius: 5px;
	padding: 1vw;
	left: 110%;
}
.tooltip:hover .tooltip-text {
	visibility: visible;
	z-index: 1;
}
@font-face {
	font-family: Signpainter;
	src: url('fonts/signpainter_housescript.otf');
}
.signpainter {
	font-family: Signpainter;
	font-size: 6vw;
	text-decoration: none;
	color: white;
	cursor: pointer;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
	margin-inline: 30%;
}
.signpainter:hover {
	color: #76ca70;
}
.linkblock {

}
.linkbutton {
	display: grid;
	grid-template-columns: auto 8em;
	justify-content: center;
	gap: 0.3em;
	margin-inline: 30%;
	padding-block: 5px;
	background-color: black;
	border-radius: 6px;
}
.inner-link-div {
	display: flex;
}
.icon {
	width: 1em;
}
.links {
	font-family: Chalet;
	color: white;
	text-decoration: none;
}
.tg:hover {
	color: #1a91cc;
}
.rgsc:hover {
	color: #fcaf17;
}
.steam:hover {
	color: #132e62;
}
.gmail:hover {
	color: #008736;
	cursor: pointer;
}
.copied {
	position: fixed;
	bottom: 0.5rem;
	right: 50%;
	transform: translateX(50%);
	opacity: 0;
	transition: opacity 0.3s;
}
.copied-show {
	opacity: 1;
	transition: opacity 0.3s;
}
.temp-footer {
	position: fixed;
	display: flex;
	justify-content: right;
	bottom: 0;
	width: 97%;
	font-family: Chalet;
	font-size: 3vw;
	color: white;
}
.temp-wip {
	margin-block: 0.5vw;
}